﻿@model WebApplication.Models.UserViewModel

@{
    ViewBag.Title = "Edit profile";
    Layout = "_Layout";
}

<h2>Edit profile</h2>
@ViewBag.Edit
<form asp-action="Edit" asp-controller="User" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <input type="hidden" name="Id" value=@Model.Id />
    <input type="hidden" name="Email" value=@Model.Email />
    <div>
        <div>
            <label asp-for="FirstName">Введите имя</label><br />
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName" />
        </div>
        <div>
            <label asp-for="Surname">Введите фамилию</label><br />
            <input asp-for="Surname" />
            <span asp-validation-for="Surname" />
        </div>
        <div>
            <input type="submit" value="Edit" />
        </div>
    </div>
</form>