﻿@model WebApplication.Models.UserViewModel

@{
    ViewBag.Title = "User profile";
    Layout = "_Layout";
}

<h2>User profile</h2>
<a asp-action="Edit" asp-controller="User">Edit</a>
<input type="hidden" value=@Model.Id />
<div class="form-group">
    <label>@Model.Email</label>
</div>
<div class="form-group">
    <label>@Model.FirstName</label>
</div>
<div class="form-group">
    <label>@Model.Surname</label>
</div> 
